<?xml version="1.0" encoding="UTF-8"?>
<suite  name="Suite"   parallel = "methods" thread-count="1" data-provider-thread-count="1">
  <test name="Test">
    <classes>
      <!-- <class name="configuration.TestMEC" /> -->
      <class name="test.CerrarSiniestro" />
    </classes>
  </test> <!-- Test -->
</suite> <!--MEC-->